{% extends '_layout.html' %}
{% block body %}
	
		<div class='col-md-12'>
		<h1 style='color:orange'>DASHBORD DETAILS</h1>
		<br>
			<div class='row ml-5'>
				<div class='col-md-5'>
				<div class='card-body' style='background:orange;'>
					<h2 class='ml-4'>ADD DEPARTMENT</h2>
					<i class="fa fa-folder" aria-hidden="true" style='font-size:55px;color:white;margin-left:9%'>
					</i>
					<br>
					<a href="/adddepartment"style='color:black;font-size:20px;margin-left:10%'>View Department</a>
				</div>
				</div>
				
				<div class='col-md-5 ml-4'>
				<div class='card-body' STYLE='background:orange;margin-left:2%;height:95%'>
					<h2 class='ml-4'>ADD STUDENT</h2>
					<i class="fa fa-file-text-o" aria-hidden="true" style='color:white;font-size:55px;margin-left:10%;'>
					</i>
					<br>
					<a href="/viewstudent"style='color:black;font-size:20px;margin-left:10%'>View Student</a>
					
				</div>
				</div>
			</div>
			<div class='row ml-5'>
				<div class='col-md-5 mt-3'>
				<div class='card-body' STYLE='background:orange;margin-left:2%'>
					<h2>ADD SUBJECT</h2>
					<i class="fa fa-book" aria-hidden="true" style='font-size:55px;color:white;margin-left:9%'></i>
					<br>
					<a href="/addsubject" style='color:black;font-size:20px;margin-left:3%'>View Subject</a>
				</div>
				</div>
				<div class='col-md-5 mt-3 ml-4'>
				<div class='card-body' STYLE='background:orange;margin-left:2%'>
					<h2>VIEW MARK</h2>
					<i class="fa fa-book" aria-hidden="true" style='font-size:55px;color:white;margin-left:9%'></i>
					<br>
					<a href="/addmark_view"style='color:black;font-size:20px;'>View Mark</a>

				</div>
				</div>
				
			</div>
	</div>
	
	
		
{% endblock %}